:root {
    --primary: #96c93d;
    --secondary: #00b09b;
    --alpha: #F3F9A7;
    --orange: #fc4a1a;
    --red: #f05053;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    border-bottom: 2px solid var(--red);
    padding-bottom: 20px;
}

.title h1 {
    font-size: 44px;
    color: var(--red);
    font-weight: 700;
}

.title p {
    font-size: 22px;
    color: var(--secondary);
}

.title p a {
    color: var(--primary);
    text-decoration: none;
}


.content {
    width: 100%;
    min-height: 600px;
    padding: 20px 0;
}

.calculator {
    min-width: 350px;
    min-height: 540px;
    background: var(--alpha);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 20px 12px;
}

.screen {
    width: 100%;
    background: #000;
    min-height: 80px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    border-radius: 8px;
    border: 2px solid #fff;
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    overflow-x: scroll;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    color: #d4d9d1!important;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

.pad {
    width: 100%;
    background: var(--alpha);
    min-height: 420px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
}

.pad .row {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #fff;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cell {
    width: 90px;
    height: 60px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    border: 1px solid var(--secondary);
    border-radius: 6px;
    text-align: center;
    position: relative;
    color: var(--secondary);
}

.cell-text {
    font-size: 32px;
    top: 50%;
    left: 50%;
    position: relative;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.cell:hover,
.cell:active {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    color: var(--alpha)!important;
    cursor: pointer
}